params {
    datasheet = "${projectDir}/assets/datasheet.csv"
    clusters = "${projectDir}/assets/cluster_membership.tsv"
    consensus_peak_matrix = "${projectDir}/data/raw_tmm_fpkm_batch_corrected_PDX_only.csv"
    promoters = "${projectDir}/assets/hg19.promoters.bed.gz" // https://github.com/CCBR/ASPEN/blob/747dc7316740170bdf578c56f42b4d757e0a4a17/resources/frip/hg19.promoters.bed.gz
    notebook_atac_rna = "${projectDir}/assets/notebook_atac_rna.qmd"
    rgtdata = "${projectDir}/data/rgtdata/*"

    outdir = "output"
    tracedir = "${params.outdir}/pipeline_info"
    publish_dir_mode = 'link'
}

process {
    publishDir = [
        path: { task.label ? "${params.outdir}/${task.label.findAll { !it.startsWith('process_') & !it.startsWith('error_') }.join('/')}/${task.process.tokenize(':')[-1].toLowerCase()}" : "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/CCBR_Pipeliner/SIFS"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
}
env {
    SINGULARITY_CACHEDIR = "/data/CCBR_Pipeliner/SIFS"
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
dag {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
